<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Student Details</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{../css/main.css}" href="../static/css/main.css"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{../css/footer.css}" href="../static/css/footer.css"
          rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{../js/footer.js}" src="../static/js/footer.js"></script>

</head>
<body>
<main>
    <h1>Country Details</h1>
    <div th:object="${country}">
        <p>
            <label class="group_label">Country:</label>
            <span class="output" th:text="*{name}">Canada </span>
        </p>
        <p>
            <label class="group_label">Continent:</label>
            <span class="output" th:text="*{continent}">North America</span>
        </p>
        <p>
            <label class="group_label">Region:</label>
            <span class="output" th:text="*{region}">Central</span>
        </p>
        <p>
            <label class="group_label">Surface Area:</label>
            <span class="output" th:text="*{surfaceArea}">100</span>
        </p>
        <p>
            <label class="group_label">Population:</label>
            <span class="output" th:text="*{population}">2700000</span>
        </p>


    </div>

    <br><br><br>

    <p><a href="CountryList.html" th:href="@{../CountryList}">Customer List page</a></p>
</main>
</body>
</html>

